# Gradle / Android Studio
.gradle/
local.properties
.cxx/
.externalNativeBuild/
build/
*/build/
captures/
.navigation/
output-metadata.json

# native build
out/
cmake-*/
*.o
*.d
compile_commands.json

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
